*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}
#logo{
    /* margin: 25px; */
    height: 70%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    color: rgb(1, 1, 92);
    /* margin: 10px; */
    display: flex;
}
.text:hover{
    color: rgb(83, 83, 241);
}
#contactDetails{
    margin-left: 60px;
    margin-right: -60px ;
    font-weight: lighter;
}
.icon{
    padding: 10px;
    border-radius: 50%;
    margin-right: -50px; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.icon:hover{
    background-color: lightblue;
}
#login{
    margin-left: -20px;
    display: flex;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#login:hover{
    background-color: lightblue;
}
#try{
    margin-left: -50px;
    background-color: green;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#fakeHeader{
    height: 10%;
    width: 100%;
}
#page1{
    height: 90%;
    width: 100%;
}
#strip{
    word-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    height: 8%;
    width: 100%;
    background-color: rgb(1, 1, 131);
}
#content{
    height: 76%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#left{
    height: 90%;
    width: 47%;
    background-color: white;
}
#right{
    height:90%;
    width: 47%;
    background-color: white;
    display: flex;
}
#heading{
    height: 16%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 131);
}
#heading h1{
    font-weight: 600;
}
#strip p{
    font-size: 18px;
}
#strip u{
    margin-left: 10px;
    font-weight: lighter;
}
#left h1{
    font-weight: 600;
    color:rgb(1, 1, 131);
    font-size: 57px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 10px;
}
#left p{
    margin: 30px 10px;
    font-size: x-large;
}
#button{
    display: flex;
    
}
#right img{
    height: 100%;
    height: 100%;
    object-fit:fill;
}
#right iframe{
    height: 50%;
    width: 60%;
}
#btn1{
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: rgb(89, 213, 255);
    width: 23%;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#btn1:hover{
    background-color: rgb(14, 61, 77);
}

#btn2{
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    color: rgb(89, 213, 255);
    border: 1px solid rgb(89, 213, 255);
    width: 23%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#btn2:hover{
    color: rgb(14, 61, 77);
    border:1px, solid rgb(14, 61, 77);
    background-color: lightskyblue;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: olive;
}