* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  background-color: #d3dad9;
  height:  100%;
  width: 100%;
}
.font {
  color: teal;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin: 10px;
  padding: 15px;
  background-color: thistle;
  text-align: center;
}
