*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    /* background-color: #0d4c9f; */
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: salmon; */
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: normal;
}
.shape{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border: 1px, solid, black;
} 
#square:hover{
    background-color: red;
}
#circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#circle:hover{
    background-color: green;
}
#diamond{
    margin-top: 60px ;
    rotate: 45deg;
   
}
#diamond h1{
    rotate: -45deg;
}
#diamond:hover{
    background-color: blue;
}