* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #313647;
  display: flex;
}
div {
  border-style: solid;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  font-size: x-large;
  font-family: "Gill Sans",  Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  border-width: 4px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#box1 {
  background-color: #435663;
}
#box2 {
  background-color: #a3b087;
}
